{{- if .Values.createCRDs }}
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: dnsentries.dns.gardener.cloud
  labels:
    helm.sh/chart: {{ include "external-dns-management.chart" . }}
    app.kubernetes.io/name: {{ include "external-dns-management.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  additionalPrinterColumns:
    - JSONPath: .spec.dnsName
      description: DNS ObjectName
      name: DNS
      type: string
    - JSONPath: .status.providerType
      description: Provider type
      name: TYPE
      type: string
    - JSONPath: .status.provider
      description: Provider
      name: PROVIDER
      type: string
    - JSONPath: .status.state
      description: Status of DNS entry in cloud provider
      name: STATUS
      type: string
    - JSONPath: .metadata.creationTimestamp
      name: AGE
      type: date
  conversion:
    strategy: None
  group: dns.gardener.cloud
  names:
    kind: DNSEntry
    listKind: DNSEntryList
    plural: dnsentries
    shortNames:
      - dnse
    singular: dnsentry
  preserveUnknownFields: true
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            cnameLookupInterval:
              format: int64
              type: integer
            dnsName:
              type: string
            ownerId:
              type: string
            targets:
              items:
                type: string
              type: array
            text:
              items:
                type: string
              type: array
            ttl:
              format: int64
              type: integer
          required:
            - dnsName
          type: object
        status:
          properties:
            message:
              type: string
            observedGeneration:
              format: int64
              type: integer
            provider:
              type: string
            providerType:
              type: string
            state:
              type: string
            targets:
              items:
                type: string
              type: array
            ttl:
              format: int64
              type: integer
            zone:
              type: string
          required:
            - state
          type: object
      required:
        - spec
  version: v1alpha1
  versions:
    - name: v1alpha1
      served: true
      storage: true
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: dnsannotations.dns.gardener.cloud
  labels:
    helm.sh/chart: {{ include "external-dns-management.chart" . }}
    app.kubernetes.io/name: {{ include "external-dns-management.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  additionalPrinterColumns:
    - JSONPath: .spec.resourceRef.apiVersion
      name: RefGroup
      type: string
    - JSONPath: .spec.resourceRef.kind
      name: RefKind
      type: string
    - JSONPath: .spec.resourceRef.name
      name: RefName
      type: string
    - JSONPath: .spec.resourceRef.namespace
      name: RefNamespace
      type: string
    - JSONPath: .status.active
      name: Active
      type: boolean
    - JSONPath: .metadata.creationTimestamp
      name: Age
      type: date
  conversion:
    strategy: None
  group: dns.gardener.cloud
  names:
    kind: DNSAnnotation
    listKind: DNSAnnotationList
    plural: dnsannotations
    shortNames:
      - dnsa
    singular: dnsannotation
  preserveUnknownFields: false
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            annotations:
              additionalProperties:
                type: string
              type: object
            resourceRef:
              properties:
                apiVersion:
                  description: API Version of the annotated object
                  type: string
                kind:
                  description: 'Kind of the annotated object More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                  type: string
                name:
                  description: Name of the annotated object
                  type: string
                namespace:
                  description: Namspace of the annotated object Defaulted by the namespace
                    of the containing resource.
                  type: string
              required:
                - apiVersion
                - kind
              type: object
          required:
            - annotations
            - resourceRef
          type: object
        status:
          properties:
            active:
              description: Indicates that annotation is observed by a DNS sorce controller
              type: boolean
            message:
              description: In case of a configuration problem this field describes
                the reason
              type: string
          type: object
      required:
        - spec
      type: object
  version: v1alpha1
  versions:
    - name: v1alpha1
      served: true
      storage: true
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: dnsowners.dns.gardener.cloud
  labels:
    helm.sh/chart: {{ include "external-dns-management.chart" . }}
    app.kubernetes.io/name: {{ include "external-dns-management.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  additionalPrinterColumns:
    - JSONPath: .spec.ownerId
      description: Owner Id
      name: OWNERID
      type: string
    - JSONPath: .metadata.creationTimestamp
      name: AGE
      type: date
  conversion:
    strategy: None
  group: dns.gardener.cloud
  names:
    kind: DNSOwner
    listKind: DNSOwnerList
    plural: dnsowners
    shortNames:
      - dnso
    singular: dnsowner
  preserveUnknownFields: true
  scope: Cluster
  version: v1alpha1
  versions:
    - name: v1alpha1
      served: true
      storage: true
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: dnsproviders.dns.gardener.cloud
  labels:
    helm.sh/chart: {{ include "external-dns-management.chart" . }}
    app.kubernetes.io/name: {{ include "external-dns-management.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  additionalPrinterColumns:
    - JSONPath: .spec.type
      description: Provider type
      name: TYPE
      type: string
    - JSONPath: .status.state
      description: Status of DNS provider
      name: STATUS
      type: string
    - JSONPath: .metadata.creationTimestamp
      name: AGE
      type: date
  conversion:
    strategy: None
  group: dns.gardener.cloud
  names:
    kind: DNSProvider
    listKind: DNSProviderList
    plural: dnsproviders
    shortNames:
      - dnspr
    singular: dnsprovider
  preserveUnknownFields: true
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            domains:
              properties:
                exclude:
                  items:
                    type: string
                  type: array
                include:
                  items:
                    type: string
                  type: array
              type: object
            providerConfig:
              type: object
            secretRef:
              type: object
            type:
              type: string
          type: object
        status:
          properties:
            domains:
              properties:
                excluded:
                  items:
                    type: string
                  type: array
                included:
                  items:
                    type: string
                  type: array
              type: object
            message:
              type: string
            state:
              type: string
          required:
            - state
            - domains
          type: object
      required:
        - spec
  version: v1alpha1
  versions:
    - name: v1alpha1
      served: true
      storage: true
{{- end }}
