bin/
.idea/
*.sw[pq]
tmp/
/local/
/local
/cmd/dns
/cmd/compound/dns-controller-manager
/dns-controller-manager
/dns-controller-manager-compound
/dns-controller-manager-dedicated
/cmd/dns/dns-controller-manager
/main
/test/functional/tmp-*.yaml
/test/integration/kubebuilder*
/test/integration/default.etcd
/test/integration/integration.test
.vscode/
.kubeconfig-kind-integration
