nameOverride: ""
fullnameOverride: dns-controller-manager

replicaCount: 1

image:
  repository: eu.gcr.io/gardener-project/dns-controller-manager
  tag: v0.7.12
  pullPolicy: IfNotPresent

resources:
  requests:
   cpu: 100m
   memory: 64Mi
  limits:
   cpu: 200m
   memory: 128Mi

nodeSelector: {}
tolerations: []
affinity: {}
# priorityClassName: ""

createCRDs: true

configuration:
  # alicloudDNSCacheTtl: 120
  # alicloudDNSDefaultPoolSize: 2
  # alicloudDNSDisableZoneStateCaching: false
  # alicloudDNSDnsClass: "gardendns"
  # alicloudDNSDnsDelay: 10s
  # alicloudDNSDnsPoolResyncPeriod: 30s
  # alicloudDNSDnsPoolSize: 1
  # alicloudDNSDryRun: false
  # alicloudDNSIdentifier: ""
  # alicloudDNSOwneridsPoolSize: 1
  # alicloudDNSPoolResyncPeriod: 
  # alicloudDNSPoolSize:
  # alicloudDNSProvidersPoolResyncPeriod: 30s
  # alicloudDNSProvidersPoolSize: 2
  # alicloudDNSRatelimiterBurst:
  # alicloudDNSRatelimiterEnabled:
  # alicloudDNSRatelimiterQps:
  # alicloudDNSRescheduleDelay: 120s
  # alicloudDNSSecretsPoolSize: 2
  # alicloudDNSSetup: 10
  # alicloudDNSStatisticPoolSize:
  # alicloudDNSTtl: 120
  # annotationDefaultPoolSize:
  # annotationPoolSize:
  # annotationSetup:
  # awsRoute53CacheTtl: 120
  # awsRoute53DefaultPoolSize: 2
  # awsRoute53DisableZoneStateCaching: false
  # awsRoute53DnsClass: "gardendns"
  # awsRoute53DnsDelay: 10s
  # awsRoute53DnsPoolResyncPeriod: 30s
  # awsRoute53DnsPoolSize: 1
  # awsRoute53DryRun: false
  # awsRoute53Identifier: ""
  # awsRoute53OwneridsPoolSize: 1
  # awsRoute53PoolResyncPeriod:
  # awsRoute53PoolSize:
  # awsRoute53ProvidersPoolResyncPeriod: 30s
  # awsRoute53ProvidersPoolSize: 2
  # awsRoute53RatelimiterBurst:
  # awsRoute53RatelimiterEnabled:
  # awsRoute53RatelimiterQps:
  # awsRoute53RescheduleDelay: 120s
  # awsRoute53SecretsPoolSize: 2
  # awsRoute53Setup: 10
  # awsRoute53StatisticPoolSize:
  # awsRoute53Ttl: 120
  # azureDNSCacheTtl: 120
  # azureDNSDefaultPoolSize: 2
  # azureDNSDisableZoneStateCaching: false
  # azureDNSDnsClass: "gardendns"
  # azureDNSDnsDelay: 10s
  # azureDNSDnsPoolResyncPeriod: 30s
  # azureDNSDnsPoolSize: 1
  # azureDNSDryRun: false
  # azureDNSIdentifier: ""
  # azureDNSOwneridsPoolSize: 1
  # azureDNSPoolResyncPeriod:
  # azureDNSPoolSize:
  # azureDNSProvidersPoolResyncPeriod: 30s
  # azureDNSProvidersPoolSize: 2
  # azureDNSRatelimiterBurst:
  # azureDNSRatelimiterEnabled:
  # azureDNSRatelimiterQps:
  # azureDNSRescheduleDelay: 120s
  # azureDNSSecretsPoolSize: 2
  # azureDNSSetup: 10
  # azureDNSStatisticPoolSize:
  # azureDNSTtl: 120
  # bindAddressHttp:
  # cacheTtl: 120
  # cloudflareDNSCacheTtl: 120
  # cloudflareDNSDefaultPoolSize: 2
  # cloudflareDNSDisableZoneStateCaching: false
  # cloudflareDNSDnsClass: "gardendns"
  # cloudflareDNSDnsDelay: 10s
  # cloudflareDNSDnsPoolResyncPeriod: 30s
  # cloudflareDNSDnsPoolSize: 1
  # cloudflareDNSDryRun: false
  # cloudflareDNSIdentifier: ""
  # cloudflareDNSOwneridsPoolSize: 1
  # cloudflareDNSPoolResyncPeriod:
  # cloudflareDNSPoolSize:
  # cloudflareDNSProvidersPoolResyncPeriod: 30s
  # cloudflareDNSProvidersPoolSize: 2
  # cloudflareDNSRatelimiterBurst:
  # cloudflareDNSRatelimiterEnabled:
  # cloudflareDNSRatelimiterQps:
  # cloudflareDNSRescheduleDelay: 120s
  # cloudflareDNSSecretsPoolSize: 2
  # cloudflareDNSSetup: 10
  # cloudflareDNSStatisticPoolSize:
  # cloudflareDNSTtl: 120
  # config:
  controllers: all
  # cpuprofile: ""
  # defaultPoolResyncPeriod:
  # defaultPoolSize:
  # disableNamespaceRestriction: false
  # disableZoneStateCaching: false
  # dnsClass: "gardendns"
  # dnsDelay: 10s
  # dnsTargetClass: ""
  # dnsPoolResyncPeriod: 30s
  # dnsPoolSize: 1
  # dnsentrySourceDefaultPoolResyncPeriod: 30s
  # dnsentrySourceDefaultPoolSize: 2
  # dnsentrySourceDnsClass: "gardendns"
  # dnsentrySourceDnsTargetClass: ""
  # dnsentrySourceExcludeDomains: google.com
  # dnsentrySourceKey: ""
  # dnsentrySourcePoolResyncPeriod:
  # dnsentrySourcePoolSize:
  # dnsentrySourceTargetCreatorLabelName: ""
  # dnsentrySourceTargetCreatorLabelValue: ""
  # dnsentrySourceTargetNamePrefix: ""
  # dnsentrySourceTargetNamespace: ""
  # dnsentrySourceTargetOwnerId: ""
  # dnsentrySourceTargetRealms: ""
  # dnsentrySourceTargetSetIgnoreOwners: false
  # dnsentrySourceTargetsPoolSize: 2
  # excludeDomains: google.com
  # googleCloudDNSCacheTtl: 120
  # googleCloudDNSDefaultPoolSize: 2
  # googleCloudDNSDisableZoneStateCaching: false
  # googleCloudDNSDnsClass: "gardendns"
  # googleCloudDNSDnsDelay: 10s
  # googleCloudDNSDnsPoolResyncPeriod: 30s
  # googleCloudDNSDnsPoolSize: 1
  # googleCloudDNSDryRun: false
  # googleCloudDNSIdentifier: ""
  # googleCloudDNSOwneridsPoolSize: 1
  # googleCloudDNSPoolResyncPeriod:
  # googleCloudDNSPoolSize:
  # googleCloudDNSProvidersPoolResyncPeriod: 30s
  # googleCloudDNSProvidersPoolSize: 2
  # googleCloudDNSRatelimiterBurst:
  # googleCloudDNSRatelimiterEnabled:
  # googleCloudDNSRatelimiterQps:
  # googleCloudDNSRescheduleDelay: 120s
  # googleCloudDNSSecretsPoolSize: 2
  # googleCloudDNSSetup: 10
  # googleCloudDNSStatisticPoolSize:
  # googleCloudDNSTtl: 120
  # gracePeriod: 0
  # ingressDNSDefaultPoolResyncPeriod: 30s
  # ingressDNSDefaultPoolSize: 2
  # ingressDNSDnsClass: "gardendns"
  # ingressDNSDnsTargetClass: ""
  # ingressDNSExcludeDomains: google.com
  # ingressDNSKey: ""
  # ingressDNSPoolResyncPeriod:
  # ingressDNSPoolSize:
  # ingressDNSTargetCreatorLabelName: ""
  # ingressDNSTargetCreatorLabelValue: ""
  # ingressDNSTargetNamePrefix: ""
  # ingressDNSTargetNamespace: ""
  # ingressDNSTargetOwnerId: ""
  # ingressDNSTargetRealms: ""
  # ingressDNSTargetSetIgnoreOwners: false
  # ingressDNSTargetsPoolSize: 2
  # key: ""
  # kubeconfig: ""
  # kubeconfigDisableDeployCrds: false
  # kubeconfigId: ""
  # leaseName:
  # logLevel: info
  # maintainer:
  # namespace: default
  # namespaceLocalAccessOnly: false
  # omitLease: false
  # openstackDesignateCacheTtl: 120
  # openstackDesignateDefaultPoolSize: 2
  # openstackDesignateDisableZoneStateCaching: false
  # openstackDesignateDnsClass: "gardendns"
  # openstackDesignateDnsDelay: 10s
  # openstackDesignateDnsPoolResyncPeriod: 30s
  # openstackDesignateDnsPoolSize: 1
  # openstackDesignateDryRun: false
  # openstackDesignateIdentifier: ""
  # openstackDesignateOwneridsPoolSize: 1
  # openstackDesignatePoolResyncPeriod:
  # openstackDesignatePoolSize:
  # openstackDesignateProvidersPoolResyncPeriod: 30s
  # openstackDesignateProvidersPoolSize: 2
  # openstackDesignateRatelimiterBurst:
  # openstackDesignateRatelimiterEnabled:
  # openstackDesignateRatelimiterQps:
  # openstackDesignateRescheduleDelay:
  # openstackDesignateSecretsPoolSize: 2
  # openstackDesignateSetup: 10
  # openstackDesignateStatisticPoolSize:
  # openstackDesignateTtl: 120
  # owneridsPoolSize:
  persistentCache: false
  persistentCacheStorageSize: 1Gi
  persistentCacheStorageSizeAlicloud: 20Gi
  # pluginFile:
  # poolResyncPeriod: 30s
  # poolSize: 2
  # providers: ""
  # providersDisableDeployCrds: false
  # providersId: ""
  # providersPoolResyncPeriod: 30s
  # providersPoolSize: 1
  # ratelimiterBurst:
  # ratelimiterEnabled:
  # ratelimiterQps:
  # rescheduleDelay: 120s
  # secretsPoolSize:
  serverPortHttp: 8080
  # serviceDNSDefaultPoolResyncPeriod: 30s
  # serviceDNSDefaultPoolSize: 2
  # serviceDNSDnsClass: "gardendns"
  # serviceDNSDnsTargetClass: ""
  # serviceDNSExcludeDomains: google.com
  # serviceDNSKey: ""
  # serviceDNSPoolResyncPeriod:
  # serviceDNSPoolSize:
  # serviceDNSTargetCreatorLabelName: ""
  # serviceDNSTargetCreatorLabelValue: ""
  # serviceDNSTargetNamePrefix: ""
  # serviceDNSTargetNamespace: ""
  # serviceDNSTargetOwnerId: ""
  # serviceDNSTargetRealms: ""
  # serviceDNSTargetSetIgnoreOwners: false
  # serviceDNSTargetsPoolSize: 2
  # setup: 10
  # statisticPoolSize:
  # target: ""
  # targetCreatorLabelName: ""
  # targetCreatorLabelValue: ""
  # targetNamePrefix: ""
  # targetNamespace: ""
  # targetOwnerId: ""
  # targetRealms: ""
  # targetSetIgnoreOwners: false
  # targetDisableDeployCrds: false
  # targetId: ""
  # targetsPoolSize:
  ttl: 120
  # version:
additionalConfiguration: []

gardener:
  garden:
    identity: garden
  seed:
    identity: ""
    provider: ""

security:
  apparmorEnabled: false
  seccompEnabled: false
